header {
    position: absolute;
    left: 18%;
    top: 50px;
    z-index: 1;
}
nav {
    width: 40%;
    position: absolute;
    right: 18%;
    top: 139px;
    z-index: 1;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1em;
}
.burger-menu {
    display: none;
    cursor: pointer;    
}
.burger-menu div {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 5px;
    transition: .4s;
}
.select .line1 {
    transform: rotate(-45deg) translate(-6px,5px);
}
.select .line2 {
    opacity: 0;
}
.select .line3 {
    transform: rotate(45deg) translate(-6px,-5px);
}
@media screen and (max-width:1224px) {
    header {
        left: 50%;
        transform: translateX(-50%);
    }
    nav {
        width: 70%;
        max-width: 690px;
        top: 210px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width:767px) {
    nav {
        position: fixed;
        background-color: #FFFFFF;
        width: 100vw;
        max-width: 767px;
        height: calc(100vh - 176px);
        top: 176px;

        transform: translateX(100%);
        transition: .5s;
    }
    nav ul {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20% 0% 40% 0%;
    }
    nav ul li {
        line-height: 2;
        border-bottom: 2px solid black;
    }
    nav ul li a{
        color: black;
        cursor: pointer;
    }
    .nav-active {
        transform: translateX(-50%);
    }
    .body-fixed {
        position: fixed;
    }
    header {
        width: 100%;
        transform: translateX(0);
        top: 20px;
        left: 0px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 5%;
        padding-right: 10%;
    }
    .burger-menu {
        display: block;
        flex-direction: column;
    }
}